<h1>
    OutPut
</h1> 

<div>
    <p>
        UserName:  <%= data.UserName%>
    </p>
    <p>
        ClientId:  <%= data.ClientId%>
    </p>
    <p>
        AuthToken:  <%= data.AuthToken%>
    </p>
    <p>
        Sek: <%= data.Sek%>
    </p>
    <p>
        TokenExpiry: <%= data.TokenExpiry%>
    </p>
</div>